/*fix scroll bar effecting page margin*/
html {
    overflow-y: scroll;
}

input {
  display: block;
  width: 100%;
  min-height: 28px;        /* Make inputs at least the height of their button counterpart */
  .box-sizing(border-box); /* Makes inputs behave like true block-level elements */
}

.splash {
	background-image: url('../img/dots.gif');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
}
